<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">


</head>
<body class="background-404">



<div class="error-info">
    <h1>City not found</h1>
    <p>The specified city could not be found. Please try again.</p>
</div>

<a href="/weather"><button type="button">BACK</button></a>
</body>
</html>
